<?xml version="1.0"?>

<launch>

  <!-- Frames of reference -->
  <arg name="fixed_frame" default="world"/>
  <arg name="tracker_frame" default="tracker"/>
  <arg name="planner_frame" default="planner"/>

  <!-- Goal point -->
  <arg name="goal_x" default="8.0" />
  <arg name="goal_y" default="8.0" />
  <arg name="goal_z" default="8.0" />

  <!-- Parameters -->
  <arg name="sim_init_x" default="0.0"/>
  <arg name="sim_init_y" default="0.0"/>
  <arg name="sim_init_z" default="0.0"/>

  <!-- Environment parameters and state space bounds. -->
  <arg name="sensor_topic" default="/sensor" />
  <arg name="sensor_vis_topic" default="/vis/sensor" />
  <arg name="true_env_vis_topic" default="/vis/true_env" />
  <arg name="junk_updated_env_topic" default="/junk/updated_env" />

  <arg name="env_max" default="10.0" />
  <arg name="vel_max" default="10.0" />
  <arg name="state_upper" default="[$(arg env_max), $(arg env_max), $(arg env_max),
                                    $(arg vel_max), $(arg vel_max), $(arg vel_max)]" />
  <arg name="state_lower" default="[-$(arg env_max), -$(arg env_max), 0.0,
                                    -$(arg vel_max), -$(arg vel_max), -$(arg vel_max)]" />
  <arg name="env_upper_x" default="$(arg env_max)" />
  <arg name="env_upper_y" default="$(arg env_max)" />
  <arg name="env_upper_z" default="$(arg env_max)" />
  <arg name="env_lower_x" default="-$(arg env_max)" />
  <arg name="env_lower_y" default="-$(arg env_max)" />
  <arg name="env_lower_z" default="0.0" />
  <arg name="env_num_random_obstacles" default="20" />
  <arg name="env_min_radius" default="0.5" />
  <arg name="env_max_radius" default="1.0" />
  <arg name="seed" default="0" />
  <arg name="env_obstacle_xs" default="[]" />
  <arg name="env_obstacle_ys" default="[]" />
  <arg name="env_obstacle_zs" default="[]" />
  <arg name="env_obstacle_rs" default="[]" />

  <!-- Time steps. -->
  <arg name="simulator_dt" default="0.001"/>
  <arg name="estimator_dt" default="0.005" />
  <arg name="sensor_dt" default="0.1" />

  <!-- Sensor range. -->
  <arg name="sensor_range" default="2.0" />


  <!-- ========================== Matrice stuff. ========================= -->
  <!-- TF static publisher to create a base_link frame for the tracker. -->
  <node pkg="tf" type="static_transform_publisher" name="tracker_base_link_publisher" args="0 0 0 0 0 0 1 $(arg tracker_frame) $(arg tracker_frame)/base_link 100"></node>

  <!-- node parameters -->
  <node pkg="dji_sdk" type="dji_sdk_node" name="dji_sdk" output="screen">
	<param name="serial_name" type="string" value="/dev/ttyTHS0"/>
	<param name="baud_rate" type="int" value="230400"/>
	<param name="app_id" type="int" value="1065586"/>
	<param name="app_version" type="int" value="1"/>
	<param name="align_time" type="bool" value="false"/>
	<param name="enc_key" type="string"
	       value="fd5a9c14677d50b9efcdf5fd3852bfff9a9ee281064a66603265f0c9f6db505e"/>
	<param name="use_broadcast" type="bool" value="true"/>
  </node>

  <!-- State estimators -->
  <node name="simulator" pkg="crazyflie_simulator" type="near_hover_simulator_node" output="screen">
	<param name="time_step" value="$(arg simulator_dt)"/>
	<param name="init/x" value="$(arg sim_init_x)"/>
	<param name="init/y" value="$(arg sim_init_y)"/>
	<param name="init/z" value="$(arg sim_init_z)"/>
	<param name="frames/fixed" value="$(arg fixed_frame)"/>
	<param name="frames/robot" value="$(arg tracker_frame)"/>
	<param name="topics/control" value="dji_sdk/rc"/>
  </node>

  <!-- Waypoint server node -->
  

  <!-- Launch RViz with the proper config file robot descriptor. -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find dji_sdk)/rviz/fastrack_matrice_demos.rviz" required="true">
  </node>

</launch>
